<table class="container">
  <tr class="container">
    <td class="container"><%= render("sessions/home_button") %></td>
    <td class="container"><%= render("sessions/logout_button") %></td>
  </tr>
</table>
