<div class="lower">
  <%= button_to("Settings", {:controller => :sessions, :action => :settings}, :class => 'blue_white_b') %>
  <%= button_to("Logout", {:controller => :sessions, :action => :logout, :method => :post}, :class => 'blue_white_b') %>
</div>
