<div class="center">
  <h1 class="blue_white">
    <center>
      <table width="380">
        <tr>
          <td align="center">Course successfully added!</td>
        </tr>
        <tr>
          <td align="center"><%= render("sessions/student_view_button_b") %></td>
        </tr>
      </table>
    </center>
  </h1>
</div>