<% @page_title = "Admin_Home" -%>

<div class="main">
  <div class="center">
    <h1 class="blue_white">
      <center>
        <table width="380">
          <tr>
            <td>Math Help Q</td>
            <td><%= render("sessions/logout_button") %></td>
          </tr>
        </table>
      </center>
    </h1>
    <h3 class="gray_blue_sub">Administrator</h3>
    <%= flash[:notice] %>
    
    <p class="blue_black_b">
      Welcome, <%= @user.username%>!<br>
    </p>
    
    <%= render("admin/edit_user_permissions_button") %><br>
  </div>
</div>