// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide {
  visibility: hidden
}

.mono_font{
  font-family:"Courier New";
  font-weight: bold;
}

.mono_font_sm{
  font-family:"Courier New";
  font-size: 10px !important;
  font-weight: bold;
  line-height: 1 !important;
}