// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue_white {
padding:15px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#00008B;
color:white;
}

.center {
text-align:center;
}

.pericles {
font-family:"Pericles", Pericles, sans-serif;
}

.lightBlue_black {
margin-right:33%;
margin-left:33%;
font-family:"Pericles", Pericles, sans-serif;
background-color:#00CED1;
color:black
}

.red_white {
margin-right:33%;
margin-left:33%;
padding:12px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#CD0000;
color:white;
}

.blue_white_b {
border:0.7px solid;
border-radius:9px;
padding:12px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#104E8B;
color:white;
}

button-to {
display: inline;
}

.blue_white_c {
position:relative;
display:inline;
border:0.7px solid;
border-radius:9px;
padding:12px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#009ACD;
color:white;
}

.blue_white_c:hover {
position:relative;
display:inline;
border:0.7px solid;
border-radius:9px;
padding:12px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#E0EEEE;
color:black;
}

.main_back{
margin-right:41%;
margin-left:41%;
background-color:#EBECE4;
}

.blue_black_c{
padding:12px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#E0EEEE;
color:black;
}

.blue_black_b{
border:1px solid;
border-radius:12px;
margin-right:33%;
margin-left:33%;
padding:12px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#E0EEEE;
color:black;
}

.blue_black_bLeft{
text-align:left;
border:1px solid;
border-radius:5px;
margin-right:33%;
margin-left:33%;
padding:6px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#E0EEEE;
color:black;
}

.tan_black_bLeft{
text-align:left;
border:1px solid;
border-radius:5px;
margin-right:33%;
margin-left:33%;
padding:6px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#FCF6CF;
color:black;
}

.gray_blue_sub{
margin-right:30%;
margin-left:30%;
padding:15px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#9FB6CD;
color:#104E8B
}

.blue_white_b:hover {
border:0.7px solid;
border-radius:9px;
padding:12px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#009ACD;
color:white;
}

.input_box {
margin-top:10px;
margin-bottom:10px;
padding:8px;
border-style:solid;
border-color:#79CDCD;
}

.lightTan_black {
border:2px solid;
border-radius:25px;
margin-right:46%;
margin-left:46%;
padding:6px;
font-size:28px;
font-family:"Pericles", Pericles, sans-serif;
background-color:#FCF6CF;
color:black;
}